.error_display {
  i {
    display: inline-block;
    margin-right: 5px;

    &.cross {
      stroke-width: 0px;
      fill: red;
    }
    &.tick {
      stroke-width: 0px;
      fill: hsl(142, 71%, 45%);
      border: none;
      outline: none;
    }
  }
}
