.skeleton {
  background-color: #ddd;
  margin: 10px 0;
  border-radius: 4px;
  animation: skeleton-loading 5s ease-out;

  &.title {
    width: 50%;
    height: 20px;
    margin-bottom: 15px;
  }
  &.text {
    width: 100%;
    height: 100%;
  }

  &.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &.thumbnail {
    width: 100%;
    height: 100%;
  }
  &.icon {
    width: 100%;
    height: 100%;
  }

  &.square {
    width: 100%;
    height: 100%;
  }
  &.triangle {
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }

  &.diamond {
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }

  &.arch {
    width: 100%;
    height: 100%;
    clip-path: path('M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z');
  }
  &.rectangle {
    width: 100%;
    height: 80%;
  }
  &.circle {
    width: 100%;
    height: 100%;
    clip-path: circle(45%);
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
