input.radio_check {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ebeced;

  &:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  &:focus {
    box-shadow: 0 0 0.5rem 0.2rem rgb(13 110 253 / 25%);
    border: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  &:focus-visible {
    outline: none;
  }
  //Checkbox
  &[type='checkbox'] {
    border-radius: 0.5rem;
  }

  &:checked[type='checkbox'] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }
  //radio button
  &[type='radio'] {
    border-radius: 50%;
    background-color: red;
  }

  &:checked[type='radio'] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }
}
